# Classificação -  Naive Baies

## Classificar ele vai comprar ou não? - 0 ou 1

## Um usuário acessa a página da Alura.

### Acessou a home?, Acessou a como funciona?, Acessou a contato?, Comprou o curso?

In [1]:
#   X    Y
# 1,0,1, 1
# 0,1,0, 0
# 1,1,0, 1

#X - dados que temos
#Y - dados que queremos prever

In [2]:
import pandas as pd
from sklearn.metrics import accuracy_score

In [3]:
def carregar_acessos1():
    
    df = pd.read_csv('acesso.csv')
    
    X = df.filter(['acessou_home','acessou_como_funciona','acessou_contato'], axis=1)
    
    Y = df.filter(['comprou'], axis=1)
        
    return X, Y

In [4]:
X, Y = carregar_acessos1()

In [5]:
X.head(2)

   acessou_home  acessou_como_funciona  acessou_contato
0             1                      1                0
1             1                      1                0

In [6]:
Y.head(2)

   comprou
0        0
1        0

In [7]:
# convert all columns of DataFrame
X = X.apply(pd.to_numeric) # convert all columns of DataFrame

In [8]:
# convert all columns of DataFrame
Y = Y.apply(pd.to_numeric) # convert all columns of DataFrame

In [9]:
X = X.rename(columns = {'acessou_home':'home',
                        'acessou_como_funciona': 'como_funciona',
                        'acessou_contato': 'comprou'})

In [10]:
X

    home  como_funciona  comprou
0      1              1        0
1      1              1        0
2      1              1        0
3      1              1        0
4      1              1        0
..   ...            ...      ...
94     0              0        1
95     1              1        1
96     0              0        1
97     0              1        0
98     0              0        0

[99 rows x 3 columns]

In [11]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(X, Y['comprou'])

MultinomialNB()

In [12]:
resultado = modelo.predict(X)

In [13]:
diferencas = resultado - Y['comprou']

In [14]:
acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(X)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

93.93939393939394
99

In [15]:
## Taxa de acerto alta porque o teste esta sendo feito com os mesmos dados do treino

In [16]:
treino_dados = X.iloc[:90]
treino_marcacoes = Y.iloc[:90]

teste_dados = X.iloc[-9:]
teste_marcacoes = Y.iloc[-9:]

In [17]:
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes['comprou'])

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes['comprou']

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

88.88888888888889
9

In [ ]:
def carregar_acessos3():
    
    df = pd.read_csv('busca2.csv')
    
    X_df = df.filter(['home','busca','logado'], axis=1)
    
    Y_df = df.filter(['comprou'], axis=1)
        
    return X, Y

X_df, Y_df = carregar_acessos3()

In [ ]:
Xdummies_df = pd.get_dummies(X_df['busca'].values)
Ydummies_df = Y_df

X = Xdummies_df.values
Y = Ydummies_df.values

In [ ]:
tamanho_de_treino = int(0.9 * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

taxa_de_acerto = accuracy_score(teste_marcacoes, resultado)*100
print('A taxa de acerto foi de %.2f%%' % taxa_de_acerto)

taxa_de_acerto_base = 100.0 * sum(teste_marcacoes)[0] / len(teste_marcacoes)
print('A taxa de acerto base é de: %.2f%%' % taxa_de_acerto_base)